:root {
  --analog-clock-radius: 90px;
  --pink: #ff63c3;
  --teal: #81e6d9;
  --dark-theme: #202023;
  --light-theme: rgb(240, 231, 219);
}

.app {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.app.light {
  background-color: var(--light-theme);
}

.app.dark {
  background-color: var(--dark-theme);
}

.btn-toggle-theme {
  outline: 0;
  border: 0;
  padding: 12px;
  line-height: 12px;
  border-radius: 3px;

  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.light .btn-toggle-theme {
  background-color: #805ad5;
  color: #fff;
}

.light .btn-toggle-theme:hover {
  background-color: #6b46c1;
}

.dark .btn-toggle-theme {
  background-color: #fbd38d;
  color: #000;
}

.dark .btn-toggle-theme:hover {
  background-color: #f6ad55;
}
